@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@500;700&display=swap');

body {
    font-family: "Be Vietnam";
    margin: 0;
    padding: 0;
}

main {
    margin: 0 71px;
}

.contenedorHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 75px 175px;
}

.contenedorHeader-burger {
    display:none;
}

.logo {
    height: 23px;
}

.button {
    border-radius: 50px;
    background-color: #F3603B;
    color: white;
    box-shadow: 0px 4px 7px rgb(0 0 0 / 25%);
    border: 0px;
    font-size: 13px;
    height: 44px;
    width: 134px;
    cursor: pointer;
}

.footer-button {
    border-radius: 50px;
    background-color: #F3603B;
    color: white;
    box-shadow: 0px 4px 7px rgb(0 0 0 / 25%);
    border: 0px;
    font-size: 13px;
    height: 44px;
    width: 63px;
    cursor: pointer;
    margin-left:10px;
}

.button-inverted {
    border-radius: 50px;
    background-color: white;
    color: #F3603B;
    box-shadow: 0px 4px 7px rgb(0 0 0 / 25%);
    border: 0px;
    font-size: 13px;
    height: 44px;
    width: 134px;
    cursor: pointer;    
}



.listaNav{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 382px;
    padding: 0;
    font-size: 13px;
    color: #242E52
}

.articulo-uno-titulo {
    font-size: 3.625rem;
    font-weight: 700px;
    letter-spacing: -0.035em;
    line-height: 65px;
    color: #242E52;
    margin: 0;
}

.articulo-uno-texto {
    width:350px;
}

.seccion{
    display: flex;
    margin: 0 95px;
    justify-content: space-between;
    margin-bottom: 100px;
}

.seccion-dos{
    display: flex;
    margin: 0 95px;
    justify-content: space-between;
    margin-bottom: 100px;
}

.articuloUno{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 440px;
    height: 386px;
    margin-top: 40px;
}

.articuloDos{
    display: flex;
    flex-direction: column;
}

.articulo-tres {
    display: flex;
    flex-direction: column;
    width: 440px;
    flex: 1;
}

.articulo-tres-titulo{
    font-size: 36px;
    line-height: 115%;
    color: #242E52;
    margin-top: 0px;
}

.articulo-tres-texto {
    width: 337px;
}

.articulo-cuatro {
    flex: 1;
}

.articulo-cuatro-img {
    height: 43;
}

.articulo-cuatro-title {
    margin: 0 23px;
    align-self: center;
}

.articulo-cuatro-text {
    padding-left: 92px;
    font-weight: 500;
    font-size: 16.2984px;
    line-height: 26px;
    color: #B3B2B7;
    font-style: normal;
    margin: 16px 0 20px 0;    
}

.seccionDos{
    display: flex;
}

.divsList{
    display: flex;
    flex-direction: column;
}

.divElementoLista{
    display: flex;
}

.seccionTres{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjeta{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAFA;
    position: relative;
    padding: 0 10px;
    height: 220px;
    margin-bottom: 45px;
}

.tarjeta-medio{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAFA;
    position: relative;
    padding: 0 20px;
    height: 220px;
}

.divTarjetas{
    display: flex;
}

.seccion-tres-titulo {
    font-size: 36px;
    line-height: 115%;
    color: #242E52;
    margin-top: 0px;
    margin-bottom: 110px;    
}

.fotoRedonda{
    width: 70px;
    position: absolute;
    top: -35px;
}

.tarjeta-titulo {
    margin-top: 56px;
    color: #242E52
}

.tarjeta-texto {
    font-family: 'Be Vietnam';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #B9B9C1;
    text-align: center;
}

.tarjeta-texto-medio {
    font-family: 'Be Vietnam';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #B9B9C1;
    text-align: center;
}

.footerSecUno{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F3613C;
    margin-top: 192px;
    height:225px;
}

.footer-titulo {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    align-items: center;
    letter-spacing: -0.005em;
    color: white;
    width: 438px;    
}

.footerSecDos{
    display: flex;
    justify-content: space-between;
    background-color: #1E1E26;
    height: 248px;
    padding: 67px 170px;
    box-sizing: border-box;
    color: white;
}

.footer-input {
    height: 44px;
    width: 186px;
    border-radius: 50px;
    padding-left: 15px;
}

.articleFooterUno{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.divIconos{
    display: flex;
    justify-content: space-around;
}

.listaNavFooter{
    height:100%;
}

.listaNavFooter-container {
    display: flex;
    justify-content: center;
}

.listaUlFooter{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: space-between;
    margin: 0px;
    height:100%;
}

.copyright{
    color: #8C8C94;
    font-weight: 500;
    font-size: 12.5px;
    line-height: 18px;
}

.footer-article-ultimo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media only screen and (max-width: 600px) {
    body {
        width:90%;
        margin: 0 auto;
    }

    header {
        margin-bottom: 80px;
        position: relative;
    }

    main {
        margin: 0px;
        text-align: center
    }

    footer {
        text-align: center;
        margin: 0 -20px;
    }

    .contenedorHeader-burger {
        display: block;
        fill: #242E52;
        position: absolute;
        right:5px;
        top: 5px;
        padding-top: 10px;
    }

    .header-logo {
        padding-top:15px;
    }

    main section.seccion{
        margin: 0px;
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 50px;
    }

    main section.seccion-dos{
        margin: 0px;
        display: flex;
        flex-direction: column;
    }

    .seccion-tres-titulo {
        margin-bottom: 60px;
    }

    .divElementoLista {
        margin-left: 5px;
    }

    .contenedorHeader {
        margin: initial;
        display: inline;
    }

    .contenedorHeader nav {
        display: none;
    }

    .contenedorHeader button {
        display: none;
    }

    ul.listNav {
        width: initial;
    }

    .divTarjetas {
        margin-bottom: 20px;
    }

    .tarjeta {
        display:none;
    }

    .tarjeta-medio {
        width: 100vw;
        height: 235px;
    }

    .footerSecUno {
        display:block;
        margin-top:80px;
    }

    .footerSecUno h2{
        width: initial;
    }

    .footerSecDos {
        flex-direction: column-reverse;
        height: initial;
        padding: initial;
        position: relative;
        padding-bottom: 50px;
    }

    .footerSecDos article {
        margin: 20px 0;
    }

    .footer-titulo {
        padding-top: 20px;
    }

    .articleFooterUno {
        display:inline;
    }

    .seccionTres {
        display: inline;
    }

    .articulo-cuatro-text {
        padding-left: 0px;

    }
    .divIconos {
        display:block;
    }

    .articuloDos img {
        width: 100%;
    }

    .articuloUno{
        width: initial;
        height: initial;
        margin-bottom: 20px;
    }

    .articulo-tres {
        width: initial;
        margin-bottom: 20px;
    }

    .articulo-uno-texto, .articulo-tres-texto {
        width: initial;
        margin: 10px 0;
    }

    .button {
        display: block;
        margin: 0 auto;
    }

    .copyright {
        bottom: 20px;
        position: absolute;
        left: 0;
        right: 0;
    }
  }